

body{
    background-color: #ADD8E6;
}


#city-input{
    max-width: 400px;
    margin: 0 auto;
    color: #DC143C;

} 
#weather-output {
    max-width: 400px;
    margin: 0 auto;
    color:#A0522D;
}
  
.banner {
    color: #006400;
    font-family: sans-serif;

}